.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* cover entire container */
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
